.input {
    height: 50px;
    width: 90%;
    border-radius: 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

input {
    background: none;
    border: none;
    margin-left: 12px;
    height: 40px;
    font-size: 14px;
    flex: 1;
}

input:focus {
    outline: none;
}

.add {
    margin-right: 8px;
    background-color: white;
    border: solid 2px lightgray;
    border-radius: 10px;
    height: 40px;
    width: 50px;
}

.add:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.add:active {
    font-size: 10px;
}